@charset "utf-8";

img {
  max-width: 85px;
}

.general {
  margin: 15px;
}

.cover-col {
  min-width: 100px;
}

.title-col {
  min-width: 600px;
}

td.cover-col img {
  display:block;
  margin:auto;
  max-height: 85px;
}

td.cover-col {
  padding: 3px;
}